:root {
  --fonts--main: "Roboto", Helvetica, Arial, sans-serif;
  --header-height: 10rem;
  --content-width: 960px;
  --content-gutter: 1.5rem;
  --transition-time: 0.25s;
  --transition-time--longer: 0.5s;
  --border-radius: 2.5rem;
}
@media only screen and (max-width: 1599px) {
  :root {
    --content-width: 960px;
  }
}
@media only screen and (max-width: 1219px) {
  :root {
    --content-width: 800px;
  }
}
@media only screen and (max-width: 959px) {
  :root {
    --header-height: 6.5rem;
    --content-width: 640px;
    --content-gutter: 2rem;
  }
}
@media only screen and (max-width: 781px) {
  :root {
    --content-width: -webkit-calc( 100% - 2 * var( --content-gutter ) );
    --content-width: -moz-calc( 100% - 2 * var( --content-gutter ) );
    --content-width: calc( 100% - 2 * var( --content-gutter ) );
  }
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/roboto-400.woff2") format("woff2"), url("../fonts/roboto-400.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/roboto-400-italic.woff2") format("woff2"), url("../fonts/roboto-400-italic.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/roboto-500.woff2") format("woff2"), url("../fonts/roboto-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/roboto-500-italic.woff2") format("woff2"), url("../fonts/roboto-500-italic.woff") format("woff");
}
#editor .editor-styles-wrapper,
#widgets-editor .editor-styles-wrapper {
  isolation: isolate;
  overflow-x: hidden;
  padding: 0;
  font-family: var(--fonts--main);
  /****************************
  ****** WIDE/FULL ALIGN ******
  ****************************/
  /************************************
  ***** MARGIN & PADDING HELPERS ******
  ************************************/
  /************************************
  ***** SEPARATORS ********************
  ************************************/
  /************************************
  ***** LISTS *************************
  ************************************/
  /************************************
  ***** COLUMNS ***********************
  ************************************/
  /************************************
  ***** BUTTONS ***********************
  ************************************/
  /************************************
  ***** COVER FIX *********************
  ************************************/
  /************************************
  ***** COVER / GROUP *****************
  ************************************/
  /************************************
  ***** IMAGE STYLES ******************
  ************************************/
  /************************************
  ***** HEADING STYLES ****************
  ************************************/
  /************************************
  ***** TABLE STYLES ******************
  ************************************/
}
#editor .editor-styles-wrapper .editor-post-title__input,
#widgets-editor .editor-styles-wrapper .editor-post-title__input {
  margin-top: 5rem;
  margin-bottom: 7.5rem;
  position: relative;
  padding-right: 2.5%;
  color: var(--wp--preset--color--dark-blue);
}
#editor .editor-styles-wrapper .editor-post-title__input::before,
#widgets-editor .editor-styles-wrapper .editor-post-title__input::before {
  content: "";
  position: absolute;
  height: -webkit-calc(100% + 3rem);
  height: -moz-calc(100% + 3rem);
  height: calc(100% + 3rem);
  width: 100vw;
  top: -1.5rem;
  right: 0;
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  background: var(--wp--preset--color--light-blue);
  z-index: -1;
}
#editor .editor-styles-wrapper .content-container > *,
#editor .editor-styles-wrapper .wp-block-cover__inner-container > *,
#editor .editor-styles-wrapper .wp-block-group__inner-container > *,
#widgets-editor .editor-styles-wrapper .content-container > *,
#widgets-editor .editor-styles-wrapper .wp-block-cover__inner-container > *,
#widgets-editor .editor-styles-wrapper .wp-block-group__inner-container > * {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}
#editor .editor-styles-wrapper *,
#editor .editor-styles-wrapper *::before,
#editor .editor-styles-wrapper *::after,
#widgets-editor .editor-styles-wrapper *,
#widgets-editor .editor-styles-wrapper *::before,
#widgets-editor .editor-styles-wrapper *::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
#editor .editor-styles-wrapper html,
#widgets-editor .editor-styles-wrapper html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}
#editor .editor-styles-wrapper html,
#editor .editor-styles-wrapper body,
#editor .editor-styles-wrapper button,
#editor .editor-styles-wrapper input,
#editor .editor-styles-wrapper select,
#editor .editor-styles-wrapper textarea,
#widgets-editor .editor-styles-wrapper html,
#widgets-editor .editor-styles-wrapper body,
#widgets-editor .editor-styles-wrapper button,
#widgets-editor .editor-styles-wrapper input,
#widgets-editor .editor-styles-wrapper select,
#widgets-editor .editor-styles-wrapper textarea {
  font-family: var(--fonts--main);
}
#editor .editor-styles-wrapper body,
#widgets-editor .editor-styles-wrapper body {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  overflow-y: auto;
  overflow-x: hidden;
}
#editor .editor-styles-wrapper h1,
#editor .editor-styles-wrapper h2,
#editor .editor-styles-wrapper h3,
#editor .editor-styles-wrapper h4,
#editor .editor-styles-wrapper h5,
#editor .editor-styles-wrapper h6,
#widgets-editor .editor-styles-wrapper h1,
#widgets-editor .editor-styles-wrapper h2,
#widgets-editor .editor-styles-wrapper h3,
#widgets-editor .editor-styles-wrapper h4,
#widgets-editor .editor-styles-wrapper h5,
#widgets-editor .editor-styles-wrapper h6 {
  line-height: 1.2;
}
#editor .editor-styles-wrapper h1,
#widgets-editor .editor-styles-wrapper h1 {
  font-size: 4.6rem;
}
@media only screen and (max-width: 1219px) {
  #editor .editor-styles-wrapper h1,
#widgets-editor .editor-styles-wrapper h1 {
    font-size: 4.2rem;
  }
}
@media only screen and (max-width: 959px) {
  #editor .editor-styles-wrapper h1,
#widgets-editor .editor-styles-wrapper h1 {
    font-size: 3.6rem;
  }
}
@media only screen and (max-width: 781px) {
  #editor .editor-styles-wrapper h1,
#widgets-editor .editor-styles-wrapper h1 {
    font-size: 3.2rem;
  }
}
#editor .editor-styles-wrapper h2,
#widgets-editor .editor-styles-wrapper h2 {
  font-size: 3.6rem;
}
@media only screen and (max-width: 959px) {
  #editor .editor-styles-wrapper h2,
#widgets-editor .editor-styles-wrapper h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 781px) {
  #editor .editor-styles-wrapper h2,
#widgets-editor .editor-styles-wrapper h2 {
    font-size: 2.6rem;
  }
}
#editor .editor-styles-wrapper h3,
#widgets-editor .editor-styles-wrapper h3 {
  font-size: 2.4rem;
}
@media only screen and (max-width: 781px) {
  #editor .editor-styles-wrapper h3,
#widgets-editor .editor-styles-wrapper h3 {
    font-size: 2.2rem;
  }
}
#editor .editor-styles-wrapper h4,
#widgets-editor .editor-styles-wrapper h4 {
  font-size: 1.8rem;
}
#editor .editor-styles-wrapper h5,
#widgets-editor .editor-styles-wrapper h5 {
  font-size: 1.8rem;
}
#editor .editor-styles-wrapper h6,
#widgets-editor .editor-styles-wrapper h6 {
  font-size: 1.8rem;
}
#editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6) em,
#widgets-editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6) em {
  font-style: inherit;
  text-transform: initial;
}
#editor .editor-styles-wrapper p,
#widgets-editor .editor-styles-wrapper p {
  margin-bottom: 2rem;
}
#editor .editor-styles-wrapper ul,
#editor .editor-styles-wrapper ol,
#widgets-editor .editor-styles-wrapper ul,
#widgets-editor .editor-styles-wrapper ol {
  margin-top: 0;
  margin-bottom: 2rem;
}
#editor .editor-styles-wrapper ul,
#widgets-editor .editor-styles-wrapper ul {
  list-style: disc;
}
#editor .editor-styles-wrapper ol,
#widgets-editor .editor-styles-wrapper ol {
  list-style: decimal;
}
#editor .editor-styles-wrapper ul li,
#editor .editor-styles-wrapper ol li,
#widgets-editor .editor-styles-wrapper ul li,
#widgets-editor .editor-styles-wrapper ol li {
  margin-bottom: 0.5rem;
}
#editor .editor-styles-wrapper ul ul,
#editor .editor-styles-wrapper ol ol,
#editor .editor-styles-wrapper ul ol,
#editor .editor-styles-wrapper ol ul,
#widgets-editor .editor-styles-wrapper ul ul,
#widgets-editor .editor-styles-wrapper ol ol,
#widgets-editor .editor-styles-wrapper ul ol,
#widgets-editor .editor-styles-wrapper ol ul {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
#editor .editor-styles-wrapper dt,
#widgets-editor .editor-styles-wrapper dt {
  font-weight: bold;
}
#editor .editor-styles-wrapper dd,
#widgets-editor .editor-styles-wrapper dd {
  margin: 0 1rem 1rem;
}
#editor .editor-styles-wrapper b,
#editor .editor-styles-wrapper strong,
#widgets-editor .editor-styles-wrapper b,
#widgets-editor .editor-styles-wrapper strong {
  font-weight: bold;
}
#editor .editor-styles-wrapper dfn,
#editor .editor-styles-wrapper cite,
#editor .editor-styles-wrapper em,
#editor .editor-styles-wrapper i,
#widgets-editor .editor-styles-wrapper dfn,
#widgets-editor .editor-styles-wrapper cite,
#widgets-editor .editor-styles-wrapper em,
#widgets-editor .editor-styles-wrapper i {
  font-style: italic;
}
#editor .editor-styles-wrapper sup,
#editor .editor-styles-wrapper sub,
#widgets-editor .editor-styles-wrapper sup,
#widgets-editor .editor-styles-wrapper sub {
  font-size: 66%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#editor .editor-styles-wrapper sup,
#widgets-editor .editor-styles-wrapper sup {
  bottom: 1ex;
}
#editor .editor-styles-wrapper sub,
#widgets-editor .editor-styles-wrapper sub {
  top: 0.5ex;
}
#editor .editor-styles-wrapper small,
#widgets-editor .editor-styles-wrapper small {
  font-size: 75%;
}
#editor .editor-styles-wrapper big,
#widgets-editor .editor-styles-wrapper big {
  font-size: 125%;
}
#editor .editor-styles-wrapper table,
#widgets-editor .editor-styles-wrapper table {
  margin: 0 0 2rem 0;
  width: 100%;
  border-collapse: collapse;
}
#editor .editor-styles-wrapper th,
#widgets-editor .editor-styles-wrapper th {
  font-weight: bold;
}
#editor .editor-styles-wrapper th,
#editor .editor-styles-wrapper td,
#widgets-editor .editor-styles-wrapper th,
#widgets-editor .editor-styles-wrapper td {
  border: 1px solid grey;
  padding: 0.4rem 0.8rem;
}
#editor .editor-styles-wrapper figure,
#widgets-editor .editor-styles-wrapper figure {
  margin-top: 0;
  margin-bottom: 0;
}
#editor .editor-styles-wrapper figure img,
#widgets-editor .editor-styles-wrapper figure img {
  display: block;
}
#editor .editor-styles-wrapper img,
#widgets-editor .editor-styles-wrapper img {
  max-width: 100%;
  height: auto;
}
#editor .editor-styles-wrapper hr,
#widgets-editor .editor-styles-wrapper hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#editor .editor-styles-wrapper a,
#widgets-editor .editor-styles-wrapper a {
  color: inherit;
}
#editor .editor-styles-wrapper :where(p, li) a,
#widgets-editor .editor-styles-wrapper :where(p, li) a {
  color: var(--wp--preset--color--orange);
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: -webkit-linear-gradient(currentColor, currentColor);
  background-image: -moz-linear-gradient(currentColor, currentColor);
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size var(--transition-time) ease;
  -o-transition: background-size var(--transition-time) ease;
  -moz-transition: background-size var(--transition-time) ease;
  transition: background-size var(--transition-time) ease;
  color: var(--wp--preset--color--orange);
}
#editor .editor-styles-wrapper :where(p, li) a:is(:hover, :focus, :active),
#widgets-editor .editor-styles-wrapper :where(p, li) a:is(:hover, :focus, :active) {
  background-size: 100% 2px;
}
#editor .editor-styles-wrapper .screen-reader-text,
#widgets-editor .editor-styles-wrapper .screen-reader-text {
  display: none;
  visibility: hidden;
}
#editor .editor-styles-wrapper .content-container .alignwide,
#widgets-editor .editor-styles-wrapper .content-container .alignwide {
  max-width: -webkit-calc(1.2 * var(--content-width));
  max-width: -moz-calc(1.2 * var(--content-width));
  max-width: calc(1.2 * var(--content-width));
  width: 100%;
}
#editor .editor-styles-wrapper .content-container .alignfull,
#widgets-editor .editor-styles-wrapper .content-container .alignfull {
  max-width: 100%;
  width: 100%;
}
#editor .editor-styles-wrapper :is(ul:not([class]), ul.wp-block-list) li::marker,
#editor .editor-styles-wrapper :is(ol:not([class]), ol.wp-block-list) li::marker,
#widgets-editor .editor-styles-wrapper :is(ul:not([class]), ul.wp-block-list) li::marker,
#widgets-editor .editor-styles-wrapper :is(ol:not([class]), ol.wp-block-list) li::marker {
  color: var(--wp--preset--color--orange);
}
#editor .editor-styles-wrapper :is(ul, ol).is-style-checkbox,
#widgets-editor .editor-styles-wrapper :is(ul, ol).is-style-checkbox {
  list-style: none;
}
#editor .editor-styles-wrapper :is(ul, ol).is-style-checkbox li,
#widgets-editor .editor-styles-wrapper :is(ul, ol).is-style-checkbox li {
  position: relative;
}
#editor .editor-styles-wrapper :is(ul, ol).is-style-checkbox li::before,
#widgets-editor .editor-styles-wrapper :is(ul, ol).is-style-checkbox li::before {
  content: "";
  position: absolute;
  left: -2.5rem;
  top: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 185.3 185.3' style='enable-background:new 0 0 185.3 185.3;' xml:space='preserve'%3E%3Cpath d='M92.7,0C41.5,0,0,41.5,0,92.7s41.5,92.7,92.7,92.7c51.2,0,92.7-41.5,92.7-92.7S143.9,0,92.7,0z M154.2,58 c-0.2,0.3-0.5,0.5-0.7,0.8l-71.8,78.6c-1.5,1.6-3.5,2.6-5.7,2.6l-0.1,0c-2.2,0-4.3-0.9-5.7-2.5L31.9,96.9c-3.2-3-3.3-8-0.3-11.1 s8-3.3,11.1-0.3c0.2,0.2,0.4,0.4,0.6,0.6l32.4,34.5l66.1-72.3c2.9-3.2,7.9-3.4,11.1-0.5C155.9,50.5,156.4,54.8,154.2,58z'/%3E%3C/svg%3E%0A");
  mask-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 185.3 185.3' style='enable-background:new 0 0 185.3 185.3;' xml:space='preserve'%3E%3Cpath d='M92.7,0C41.5,0,0,41.5,0,92.7s41.5,92.7,92.7,92.7c51.2,0,92.7-41.5,92.7-92.7S143.9,0,92.7,0z M154.2,58 c-0.2,0.3-0.5,0.5-0.7,0.8l-71.8,78.6c-1.5,1.6-3.5,2.6-5.7,2.6l-0.1,0c-2.2,0-4.3-0.9-5.7-2.5L31.9,96.9c-3.2-3-3.3-8-0.3-11.1 s8-3.3,11.1-0.3c0.2,0.2,0.4,0.4,0.6,0.6l32.4,34.5l66.1-72.3c2.9-3.2,7.9-3.4,11.1-0.5C155.9,50.5,156.4,54.8,154.2,58z'/%3E%3C/svg%3E%0A");
  -webkit-mask-size: cover;
  mask-size: cover;
}
#editor .editor-styles-wrapper .wp-block-buttons,
#widgets-editor .editor-styles-wrapper .wp-block-buttons {
  gap: 2rem 3rem !important;
}
#editor .editor-styles-wrapper .wp-block-button__link,
#widgets-editor .editor-styles-wrapper .wp-block-button__link {
  padding: -webkit-calc(0.8rem + 2px) -webkit-calc(2.4rem + 2px);
  padding: -moz-calc(0.8rem + 2px) -moz-calc(2.4rem + 2px);
  padding: calc(0.8rem + 2px) calc(2.4rem + 2px);
  font-weight: bold;
  background-color: var(--wp--preset--color--orange);
}
#editor .editor-styles-wrapper .is-style-outline > .wp-block-button__link,
#widgets-editor .editor-styles-wrapper .is-style-outline > .wp-block-button__link {
  padding: 0.8rem 2.4rem;
}
#editor .editor-styles-wrapper .is-style-outline > .wp-block-button__link:not(.has-text-color),
#widgets-editor .editor-styles-wrapper .is-style-outline > .wp-block-button__link:not(.has-text-color) {
  background-color: transparent;
  color: var(--wp--preset--color--orange);
}
#editor .editor-styles-wrapper .is-style-outline > .wp-block-button__link:not(.has-background-color),
#widgets-editor .editor-styles-wrapper .is-style-outline > .wp-block-button__link:not(.has-background-color) {
  background-color: transparent;
}
#editor .editor-styles-wrapper .wp-block-button__link em,
#widgets-editor .editor-styles-wrapper .wp-block-button__link em {
  font-style: inherit;
  text-transform: initial;
}
#editor .editor-styles-wrapper .wp-block-button__link,
#editor .editor-styles-wrapper form input[type=button],
#editor .editor-styles-wrapper form input[type=submit],
#editor .editor-styles-wrapper form button[type=submit],
#widgets-editor .editor-styles-wrapper .wp-block-button__link,
#widgets-editor .editor-styles-wrapper form input[type=button],
#widgets-editor .editor-styles-wrapper form input[type=submit],
#widgets-editor .editor-styles-wrapper form button[type=submit] {
  position: relative;
}
#editor .editor-styles-wrapper .wp-block-button__link::after,
#editor .editor-styles-wrapper form input[type=button]::after,
#editor .editor-styles-wrapper form input[type=submit]::after,
#editor .editor-styles-wrapper form button[type=submit]::after,
#widgets-editor .editor-styles-wrapper .wp-block-button__link::after,
#widgets-editor .editor-styles-wrapper form input[type=button]::after,
#widgets-editor .editor-styles-wrapper form input[type=submit]::after,
#widgets-editor .editor-styles-wrapper form button[type=submit]::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: inherit;
  -webkit-transition: 0.5s ease opacity, 0.5s ease clip-path;
  -o-transition: 0.5s ease opacity, 0.5s ease clip-path;
  -moz-transition: 0.5s ease opacity, 0.5s ease clip-path;
  transition: 0.5s ease opacity, 0.5s ease clip-path;
  opacity: 0;
  mix-blend-mode: overlay;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}
#editor .editor-styles-wrapper .wp-block-button__link:hover::after,
#editor .editor-styles-wrapper form input[type=button]:hover::after,
#editor .editor-styles-wrapper form input[type=submit]:hover::after,
#editor .editor-styles-wrapper form button[type=submit]:hover::after,
#widgets-editor .editor-styles-wrapper .wp-block-button__link:hover::after,
#widgets-editor .editor-styles-wrapper form input[type=button]:hover::after,
#widgets-editor .editor-styles-wrapper form input[type=submit]:hover::after,
#widgets-editor .editor-styles-wrapper form button[type=submit]:hover::after {
  opacity: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
#editor .editor-styles-wrapper .wp-block-cover__image-background,
#widgets-editor .editor-styles-wrapper .wp-block-cover__image-background {
  height: 100%;
}
#editor .editor-styles-wrapper :is(.wp-block-group, .wp-block-cover).has-background,
#widgets-editor .editor-styles-wrapper :is(.wp-block-group, .wp-block-cover).has-background {
  padding: -webkit-calc(2 * var(--content-gutter)) -webkit-calc(3 * var(--content-gutter));
  padding: -moz-calc(2 * var(--content-gutter)) -moz-calc(3 * var(--content-gutter));
  padding: calc(2 * var(--content-gutter)) calc(3 * var(--content-gutter));
}
@media only screen and (max-width: 781px) {
  #editor .editor-styles-wrapper :is(.wp-block-group, .wp-block-cover).has-background,
#widgets-editor .editor-styles-wrapper :is(.wp-block-group, .wp-block-cover).has-background {
    padding: var(--content-gutter) -webkit-calc(2 * var(--content-gutter));
    padding: var(--content-gutter) -moz-calc(2 * var(--content-gutter));
    padding: var(--content-gutter) calc(2 * var(--content-gutter));
  }
}
@media only screen and (max-width: 781px) {
  #editor .editor-styles-wrapper :is(.wp-block-group, .wp-block-cover).has-background:is(.alignwide, .alignfull),
#widgets-editor .editor-styles-wrapper :is(.wp-block-group, .wp-block-cover).has-background:is(.alignwide, .alignfull) {
    padding: var(--content-gutter);
  }
}
#editor .editor-styles-wrapper :is(.wp-block-group, .wp-block-cover).has-background:not(.alignfull),
#widgets-editor .editor-styles-wrapper :is(.wp-block-group, .wp-block-cover).has-background:not(.alignfull) {
  border-bottom-right-radius: var(--border-radius);
}
#editor .editor-styles-wrapper figure.wp-block-image.is-style-rounded img,
#editor .editor-styles-wrapper figure.wp-block-image .is-style-rounded img,
#widgets-editor .editor-styles-wrapper figure.wp-block-image.is-style-rounded img,
#widgets-editor .editor-styles-wrapper figure.wp-block-image .is-style-rounded img {
  border-radius: 0;
  border-bottom-right-radius: var(--border-radius);
}
#editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-pill-shape,
#widgets-editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-pill-shape {
  margin-top: 6rem;
  margin-bottom: 4rem;
  position: relative;
  padding-right: -webkit-calc(0.25 * var(--content-width));
  padding-right: -moz-calc(0.25 * var(--content-width));
  padding-right: calc(0.25 * var(--content-width));
  color: var(--wp--preset--color--dark-blue);
}
#editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-pill-shape::before,
#widgets-editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-pill-shape::before {
  content: "";
  position: absolute;
  height: -webkit-calc(100% + 3rem);
  height: -moz-calc(100% + 3rem);
  height: calc(100% + 3rem);
  width: 100vw;
  top: -1.5rem;
  right: -webkit-calc(0.2 * var(--content-width));
  right: -moz-calc(0.2 * var(--content-width));
  right: calc(0.2 * var(--content-width));
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem;
  background: var(--wp--preset--color--light-blue);
  z-index: -1;
}
#editor .editor-styles-wrapper :is(h1).is-style-pill-shape,
#widgets-editor .editor-styles-wrapper :is(h1).is-style-pill-shape {
  padding-right: 2.5%;
}
#editor .editor-styles-wrapper :is(h1).is-style-pill-shape::before,
#widgets-editor .editor-styles-wrapper :is(h1).is-style-pill-shape::before {
  right: 0;
}
@media only screen and (max-width: 1219px) {
  #editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-pill-shape,
#widgets-editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-pill-shape {
    padding-right: 5%;
  }
  #editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-pill-shape::before,
#widgets-editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-pill-shape::before {
    right: 0;
  }
}
#editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-underline,
#widgets-editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-underline {
  position: relative;
}
#editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-underline::before,
#widgets-editor .editor-styles-wrapper :is(h1, h2, h3, h4, h5, h6).is-style-underline::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 15rem;
  background: var(--wp--preset--color--orange);
  left: 0;
  bottom: -5px;
}
#editor .editor-styles-wrapper ::-webkit-input-placeholder,
#widgets-editor .editor-styles-wrapper ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--wp--preset--color--grey);
}
#editor .editor-styles-wrapper ::-moz-placeholder,
#widgets-editor .editor-styles-wrapper ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--wp--preset--color--grey);
  opacity: 1;
}
#editor .editor-styles-wrapper :-ms-input-placeholder,
#widgets-editor .editor-styles-wrapper :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--wp--preset--color--grey);
}
#editor .editor-styles-wrapper ::-ms-input-placeholder,
#widgets-editor .editor-styles-wrapper ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--wp--preset--color--grey);
}
#editor .editor-styles-wrapper ::-webkit-input-placeholder, #widgets-editor .editor-styles-wrapper ::-webkit-input-placeholder {
  /* Most modern browsers support this now. */
  color: var(--wp--preset--color--grey);
}
#editor .editor-styles-wrapper ::-moz-placeholder, #widgets-editor .editor-styles-wrapper ::-moz-placeholder {
  /* Most modern browsers support this now. */
  color: var(--wp--preset--color--grey);
}
#editor .editor-styles-wrapper :-ms-input-placeholder, #widgets-editor .editor-styles-wrapper :-ms-input-placeholder {
  /* Most modern browsers support this now. */
  color: var(--wp--preset--color--grey);
}
#editor .editor-styles-wrapper ::-ms-input-placeholder, #widgets-editor .editor-styles-wrapper ::-ms-input-placeholder {
  /* Most modern browsers support this now. */
  color: var(--wp--preset--color--grey);
}
#editor .editor-styles-wrapper ::placeholder,
#widgets-editor .editor-styles-wrapper ::placeholder {
  /* Most modern browsers support this now. */
  color: var(--wp--preset--color--grey);
}
#editor .editor-styles-wrapper form fieldset,
#widgets-editor .editor-styles-wrapper form fieldset {
  border: none;
  padding: 0;
}
#editor .editor-styles-wrapper form fieldset > legend,
#widgets-editor .editor-styles-wrapper form fieldset > legend {
  display: none;
}
#editor .editor-styles-wrapper form input[type=text],
#editor .editor-styles-wrapper form input[type=search],
#editor .editor-styles-wrapper form input[type=number],
#editor .editor-styles-wrapper form input[type=tel],
#editor .editor-styles-wrapper form input[type=email],
#editor .editor-styles-wrapper form input[type=password],
#editor .editor-styles-wrapper form input[type=submit],
#editor .editor-styles-wrapper form input[type=button],
#editor .editor-styles-wrapper form select,
#editor .editor-styles-wrapper form textarea,
#editor .editor-styles-wrapper form button,
#widgets-editor .editor-styles-wrapper form input[type=text],
#widgets-editor .editor-styles-wrapper form input[type=search],
#widgets-editor .editor-styles-wrapper form input[type=number],
#widgets-editor .editor-styles-wrapper form input[type=tel],
#widgets-editor .editor-styles-wrapper form input[type=email],
#widgets-editor .editor-styles-wrapper form input[type=password],
#widgets-editor .editor-styles-wrapper form input[type=submit],
#widgets-editor .editor-styles-wrapper form input[type=button],
#widgets-editor .editor-styles-wrapper form select,
#widgets-editor .editor-styles-wrapper form textarea,
#widgets-editor .editor-styles-wrapper form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  padding: 1rem 2rem 0.8rem;
  line-height: 1.6;
  margin: 0.5rem 0;
  border: 1px solid var(--wp--preset--color--grey);
}
#editor .editor-styles-wrapper form input[type=text]:focus,
#editor .editor-styles-wrapper form input[type=search]:focus,
#editor .editor-styles-wrapper form input[type=number]:focus,
#editor .editor-styles-wrapper form input[type=tel]:focus,
#editor .editor-styles-wrapper form input[type=email]:focus,
#editor .editor-styles-wrapper form input[type=password]:focus,
#editor .editor-styles-wrapper form input[type=submit]:focus,
#editor .editor-styles-wrapper form input[type=button]:focus,
#editor .editor-styles-wrapper form select:focus,
#editor .editor-styles-wrapper form textarea:focus,
#editor .editor-styles-wrapper form button:focus,
#widgets-editor .editor-styles-wrapper form input[type=text]:focus,
#widgets-editor .editor-styles-wrapper form input[type=search]:focus,
#widgets-editor .editor-styles-wrapper form input[type=number]:focus,
#widgets-editor .editor-styles-wrapper form input[type=tel]:focus,
#widgets-editor .editor-styles-wrapper form input[type=email]:focus,
#widgets-editor .editor-styles-wrapper form input[type=password]:focus,
#widgets-editor .editor-styles-wrapper form input[type=submit]:focus,
#widgets-editor .editor-styles-wrapper form input[type=button]:focus,
#widgets-editor .editor-styles-wrapper form select:focus,
#widgets-editor .editor-styles-wrapper form textarea:focus,
#widgets-editor .editor-styles-wrapper form button:focus {
  outline: none;
  border-color: var(--wp--preset--color--orange);
}
#editor .editor-styles-wrapper form input[type=text],
#editor .editor-styles-wrapper form input[type=search],
#editor .editor-styles-wrapper form input[type=number],
#editor .editor-styles-wrapper form input[type=tel],
#editor .editor-styles-wrapper form input[type=email],
#editor .editor-styles-wrapper form input[type=password],
#editor .editor-styles-wrapper form input[type=submit],
#editor .editor-styles-wrapper form input[type=button],
#editor .editor-styles-wrapper form select,
#editor .editor-styles-wrapper form button,
#widgets-editor .editor-styles-wrapper form input[type=text],
#widgets-editor .editor-styles-wrapper form input[type=search],
#widgets-editor .editor-styles-wrapper form input[type=number],
#widgets-editor .editor-styles-wrapper form input[type=tel],
#widgets-editor .editor-styles-wrapper form input[type=email],
#widgets-editor .editor-styles-wrapper form input[type=password],
#widgets-editor .editor-styles-wrapper form input[type=submit],
#widgets-editor .editor-styles-wrapper form input[type=button],
#widgets-editor .editor-styles-wrapper form select,
#widgets-editor .editor-styles-wrapper form button {
  border-radius: var(--border-radius);
}
#editor .editor-styles-wrapper form textarea,
#widgets-editor .editor-styles-wrapper form textarea {
  resize: vertical;
  border-radius: var(--border-radius);
}
#editor .editor-styles-wrapper form select,
#widgets-editor .editor-styles-wrapper form select {
  color: var(--wp--preset--color--grey);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 4rem;
  background-image: -webkit-linear-gradient(45deg, transparent 50%, var(--wp--preset--color--grey) 50%), -webkit-linear-gradient(315deg, var(--wp--preset--color--grey) 50%, transparent 50%), -webkit-linear-gradient(left, var(--wp--preset--color--grey), var(--wp--preset--color--grey));
  background-image: -moz-linear-gradient(45deg, transparent 50%, var(--wp--preset--color--grey) 50%), -moz-linear-gradient(315deg, var(--wp--preset--color--grey) 50%, transparent 50%), -moz-linear-gradient(left, var(--wp--preset--color--grey), var(--wp--preset--color--grey));
  background-image: linear-gradient(45deg, transparent 50%, var(--wp--preset--color--grey) 50%), linear-gradient(135deg, var(--wp--preset--color--grey) 50%, transparent 50%), linear-gradient(to right, var(--wp--preset--color--grey), var(--wp--preset--color--grey));
  background-position: -webkit-calc(100% - 1.8rem) 52%, -webkit-calc(100% - 1.2rem) 52%, -webkit-calc(100% - 3.4rem) 0.75rem;
  background-position: -moz-calc(100% - 1.8rem) 52%, -moz-calc(100% - 1.2rem) 52%, -moz-calc(100% - 3.4rem) 0.75rem;
  background-position: calc(100% - 1.8rem) 52%, calc(100% - 1.2rem) 52%, calc(100% - 3.4rem) 0.75rem;
  background-size: 0.6rem 0.6rem, 0.6rem 0.6rem, 0.1rem -webkit-calc(100% - 1.5rem);
  background-size: 0.6rem 0.6rem, 0.6rem 0.6rem, 0.1rem -moz-calc(100% - 1.5rem);
  background-size: 0.6rem 0.6rem, 0.6rem 0.6rem, 0.1rem calc(100% - 1.5rem);
  background-repeat: no-repeat;
}
#editor .editor-styles-wrapper form input[type=submit],
#editor .editor-styles-wrapper form input[type=button],
#editor .editor-styles-wrapper form button[type=submit],
#widgets-editor .editor-styles-wrapper form input[type=submit],
#widgets-editor .editor-styles-wrapper form input[type=button],
#widgets-editor .editor-styles-wrapper form button[type=submit] {
  background: var(--wp--preset--color--orange);
  border-color: var(--wp--preset--color--orange);
  color: var(--wp--preset--color--white);
  font-weight: bold;
  text-align: center;
}
#editor .editor-styles-wrapper form input[type=submit]:hover,
#editor .editor-styles-wrapper form input[type=button]:hover,
#editor .editor-styles-wrapper form button[type=submit]:hover,
#widgets-editor .editor-styles-wrapper form input[type=submit]:hover,
#widgets-editor .editor-styles-wrapper form input[type=button]:hover,
#widgets-editor .editor-styles-wrapper form button[type=submit]:hover {
  cursor: pointer;
}
#editor .editor-styles-wrapper .wp-block[data-align=wide],
#widgets-editor .editor-styles-wrapper .wp-block[data-align=wide] {
  max-width: -webkit-calc(1.2 * var(--content-width));
  max-width: -moz-calc(1.2 * var(--content-width));
  max-width: calc(1.2 * var(--content-width));
}

#widgets-editor .editor-styles-wrapper .block-editor-block-list__layout {
  background: var(--wp--preset--color--pale-grey);
}
#widgets-editor .wp-block[data-type="core/widget-area"],
#widgets-editor .editor-styles-wrapper {
  max-width: var(--content-width);
}
