/****************************
****** WIDE/FULL ALIGN ******
****************************/

.content-container .alignwide {
	max-width: calc( 1.2 * var( --content-width ) );
	width: 100%;
}

.content-container .alignfull {
	max-width: 100%;
	width: 100%;
}

/************************************
***** LISTS *************************
************************************/

:is( ul:not([class]), ul.wp-block-list ) li::marker,
:is( ol:not([class]), ol.wp-block-list ) li::marker {
	color: var( --wp--preset--color--orange );
}

:is( ul, ol ).is-style-checkbox {
	list-style: none;
	li {
		position: relative;
	}
	li::before {
		content: "";
		position: absolute;
		left: -2.5rem;
		top: 0.75rem;
		height: 1.5rem;
		width: 1.5rem;
		background-color: currentColor;
		-webkit-mask-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 185.3 185.3' style='enable-background:new 0 0 185.3 185.3;' xml:space='preserve'%3E%3Cpath d='M92.7,0C41.5,0,0,41.5,0,92.7s41.5,92.7,92.7,92.7c51.2,0,92.7-41.5,92.7-92.7S143.9,0,92.7,0z M154.2,58 c-0.2,0.3-0.5,0.5-0.7,0.8l-71.8,78.6c-1.5,1.6-3.5,2.6-5.7,2.6l-0.1,0c-2.2,0-4.3-0.9-5.7-2.5L31.9,96.9c-3.2-3-3.3-8-0.3-11.1 s8-3.3,11.1-0.3c0.2,0.2,0.4,0.4,0.6,0.6l32.4,34.5l66.1-72.3c2.9-3.2,7.9-3.4,11.1-0.5C155.9,50.5,156.4,54.8,154.2,58z'/%3E%3C/svg%3E%0A");
		mask-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 185.3 185.3' style='enable-background:new 0 0 185.3 185.3;' xml:space='preserve'%3E%3Cpath d='M92.7,0C41.5,0,0,41.5,0,92.7s41.5,92.7,92.7,92.7c51.2,0,92.7-41.5,92.7-92.7S143.9,0,92.7,0z M154.2,58 c-0.2,0.3-0.5,0.5-0.7,0.8l-71.8,78.6c-1.5,1.6-3.5,2.6-5.7,2.6l-0.1,0c-2.2,0-4.3-0.9-5.7-2.5L31.9,96.9c-3.2-3-3.3-8-0.3-11.1 s8-3.3,11.1-0.3c0.2,0.2,0.4,0.4,0.6,0.6l32.4,34.5l66.1-72.3c2.9-3.2,7.9-3.4,11.1-0.5C155.9,50.5,156.4,54.8,154.2,58z'/%3E%3C/svg%3E%0A");
		-webkit-mask-size: cover;
		mask-size: cover;
	}
}

/************************************
***** BUTTONS ***********************
************************************/

$button-padd-top-bottom: 0.8rem;
$button-padd-left-right: 2.4rem;

.wp-block-buttons {
	gap: 2rem 3rem !important;
}

.wp-block-button__link {
	padding: calc( $button-padd-top-bottom + 2px ) calc( $button-padd-left-right + 2px );
	font-weight: bold;
	background-color: var( --wp--preset--color--orange );
}

.is-style-outline > .wp-block-button__link {
	padding: $button-padd-top-bottom $button-padd-left-right;
}
.is-style-outline > .wp-block-button__link:not( .has-text-color ) {
	background-color: transparent;
	color: var( --wp--preset--color--orange );
}
.is-style-outline > .wp-block-button__link:not( .has-background-color ) {
	background-color: transparent;
}

.wp-block-button__link em {
	font-style: inherit;
	text-transform: initial;
}

.wp-block-button__link,
form input[type="button"],
form input[type="submit"],
form button[type="submit"] {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		background: rgba( 255, 255, 255, 0.2 );
		border-radius: inherit;
		transition: 0.5s ease opacity, 0.5s ease clip-path;
		opacity: 0;
		mix-blend-mode: overlay;
		clip-path: polygon( 0 0, 0 0, 0 100%, 0 100% );
	}
	&:hover::after {
		opacity: 1;
		clip-path: polygon( 0 0, 100% 0, 100% 100%, 0 100% );
	}
}

/************************************
***** COVER *************************
************************************/

.wp-block-cover__image-background {
	height: 100%; // WP 5.7 fix
}

/************************************
***** COVER / GROUP *****************
************************************/

:is( .wp-block-group, .wp-block-cover ).has-background {
	padding: calc( 2 * var( --content-gutter ) ) calc( 3 * var( --content-gutter ) );
	@include responsive( xs ) {
		padding: var( --content-gutter ) calc( 2 * var( --content-gutter ) );
	}
	&:is( .alignwide, .alignfull ) {
		@include responsive( xs ) {
			padding: var( --content-gutter );
		}
	}
}
:is( .wp-block-group, .wp-block-cover ).has-background:not( .alignfull ) {
	border-bottom-right-radius: var( --border-radius );
}

/************************************
***** IMAGE STYLES ******************
************************************/

figure.wp-block-image.is-style-rounded img,
figure.wp-block-image .is-style-rounded img {
	border-radius: 0;
	border-bottom-right-radius: var( --border-radius );
}

/************************************
***** HEADING STYLES ****************
************************************/

:is( h1, h2, h3, h4, h5, h6 ).is-style-pill-shape {
	margin-top: 6rem;
	margin-bottom: 4rem;
	position: relative;
	padding-right: calc( 0.25 * var( --content-width ) );
	color: var( --wp--preset--color--dark-blue );
}
:is( h1, h2, h3, h4, h5, h6 ).is-style-pill-shape::before {
	content: "";
	position: absolute;
	height: calc( 100% + 3rem );
	width: 100vw;
	top: -1.5rem;
	right: calc( 0.2 * var( --content-width ) );
	border-top-right-radius: 50rem;
	border-bottom-right-radius: 50rem;
	background: var( --wp--preset--color--light-blue );
	z-index: -1;
}
:is( h1 ).is-style-pill-shape {
	padding-right: 2.5%;
}
:is( h1 ).is-style-pill-shape::before {
	right: 0;
}
@include responsive( md ) {
	:is( h1, h2, h3, h4, h5, h6 ).is-style-pill-shape {
		padding-right: 5%;
	}
	:is( h1, h2, h3, h4, h5, h6 ).is-style-pill-shape::before {
		right: 0;
	}
}

:is( h1, h2, h3, h4, h5, h6 ).is-style-underline {
	position: relative;
}
:is( h1, h2, h3, h4, h5, h6 ).is-style-underline::before {
	content: "";
	position: absolute;
	height: 3px;
	width: 15rem;
	background: var( --wp--preset--color--orange );
	left: 0;
	bottom: -5px;
}
