footer {
	background: var( --wp--preset--color--pale-grey );
	margin-top: calc( 5vw + 5rem );
}

#footer__widgets {
	padding: calc( 3vw + 2rem ) 0 2rem;
	ul.widgets {
		padding: 0;
		margin-bottom: 0;
		list-style: none;
		li.widget_block {
			margin: 0;
		}
	}
}
